.big_menu_left ul.ul_menu li a.btn_duvidas {background: rgba(255, 255, 255, 0.2);}

.btn_add_duvida,
#accordion button,
.cont_actions_delete_duvidas_fixas button.btn_sim,
.cont_actions_edit_duvidas_fixas button.btn_salvar,
.cont_alert_del_duvida .btn_sim {background: #186dbe; color: #fff;}


#accordion button.btn_deletar,
.cont_actions_delete_duvidas_fixas button.btn_nao,
.cont_actions_edit_duvidas_fixas button.btn_fechar,
.cont_responder_duvida button.btn_cancelar,
.cont_alert_del_duvida .btn_nao,
.cont_add_nova_duvida .btn_salvar {color: #186dbe; border-color: #186dbe; background: transparent;}


.cont_add_nova_duvida .alert,
.cont_actions_edit_duvidas_fixas .alert,
.cont_actions_edit_duvidas_fixas .progress,
.cont_responder_duvida .alert,
.cont_alert_del_duvida .alert,
.cont_actions_delete_duvidas_fixas .alert {display: none;}

#accordion img.img_duvida_fixa {width: 100%; max-width: 400px; margin: 1rem 0; float: left;}
#accordion .duvida {background: #ccc; padding: 0.5rem 1rem;}

.cont_add_nova_duvida {display: none; max-width: 600px; border: solid 1px rgba(0, 0, 0, 0.1); border-radius: 5px;}
.cont_add_nova_duvida .progress {display: none; background: #ccc;}
.cont_add_nova_duvida .btn_salvar img {display: none; width: 20px; height: 20px; margin-right: 0.5rem; margin-top: -3px;}

.success_add_duvida_fixa {position: fixed; top: 80px; right: -110%; border-radius: 30px; padding: 0.5rem 1rem; background: #186dbe; color: #fff; transition: all ease-out 0.5s;}

.p_title {border-bottom: solid 1px #ccc; width: 100%; color: #186dbe; font-weight: bold;}

.cont_actions_delete_duvidas_fixas,
.cont_actions_edit_duvidas_fixas {position: fixed; top: 70px; right: -110%; width: 100%; max-width: 300px; padding: 1rem; background: #fff; z-index: 5; transition: all ease-out 0.5s;}
.cont_actions_delete_duvidas_fixas p {width: 100%; clear: both;}
.cont_actions_edit_duvidas_fixas .btn_salvar img {display: none; width: 15px; height: 15px; margin-top: -3px;}
.cont_actions_edit_duvidas_fixas img.img_duvida_fixa {display: none; width: 100%; max-width: 100px; float: left;}

.cont_duvidas_usuario ul {width: 100%;}
.cont_duvidas_usuario ul li {position: relative; padding: 0.5rem 4rem 0.5rem 70px; margin-bottom: 0.5rem; border: solid 1px #ccc; cursor: pointer; border-radius: 5px;}
.cont_duvidas_usuario ul li .cont_img {position: absolute; left: 1rem; top: 1rem; width: 40px; height: 40px; border-radius: 50%; overflow: hidden;}
.cont_duvidas_usuario ul li p {min-width: 100%; overflow: hidden;}
.cont_duvidas_usuario ul li p.p_1, 
.cont_duvidas_usuario ul li p.p_2 {color: #aaa; font-size: 0.8rem;}
.cont_duvidas_usuario ul li p.p_duvida {white-space: nowrap; color: #555;}
.cont_duvidas_usuario ul li i {position: absolute; right: 1rem; top: 1rem;}
.cont_duvidas_usuario ul li i.fa-check {color: #77b800; font-size: 1.2rem; padding: 0.5rem; border-radius: 5px;}
.cont_duvidas_usuario ul li i.fa-remove {color: red; font-size: 1.2rem; padding: 0.5rem; border-radius: 5px;}

.cont_responder_duvida {position: fixed; top: 70px; right: -110%; width: 100%; max-width: 300px; padding: 1rem; background: #fff; z-index: 5; transition: all ease-out 1s;}
.cont_responder_duvida .p_title {width: 100%; clear: both; border-bottom: solid 1px #ccc;}
.cont_responder_duvida .cont_duvida {background-color: #eee; box-shadow: none; border: none;}
.cont_responder_duvida .cont_img {width: 40px; height: 40px; margin-right: 1rem; border-radius: 50%; overflow: hidden; float: left;}
.cont_responder_duvida .cont_img img {width: 100%;}
.cont_responder_duvida .cont_dados_usuario {float: left;}
.cont_responder_duvida .cont_dados_usuario p {margin-bottom: 0; color: #aaa; line-height: 120%;}
.cont_responder_duvida button {background: #186dbe; color: #fff; float: right;}
.cont_responder_duvida button.btn_delet {background: #000; color: #fff; float: left;}
.cont_responder_duvida button.btn_close {color: #186dbe; border-color: #186dbe; background: transparent;}

.cont_alert_del_duvida {position: fixed; top: 130px; right: -110%; width: 100%; max-width: 300px; padding: 1rem; background: #fff; transition: all ease-out 0.5s; z-index: 3;}
.cont_alert_del_duvida p {width: 100%; margin-bottom: 1rem; clear: both;}





















