.big_menu_left ul.ul_menu li a.btn_estatisticas {background: rgba(255, 255, 255, 0.2);}

.section_1 canvas {width: 100%;}

.cont_stat {padding: 0.5rem;}
.cont_stat h1 {font-size: 1rem; text-align: center;}
.cont_stat h2 {text-align: center; color: #186dbe;}