.cont_login {width: 100%; height: 100%;}
.cont_login_in {width: 95%; max-width: 300px; padding: 1rem;}
.cont_login_in .cont_img {display: block; margin: auto; width: 150px;}
.cont_login_in .cont_img img {width: 100%; max-width: 150px;}

.cont_login_in .btn_entrar img {display: none; width: 20px; margin: -3px 10px 0 0;}

.cont_login_in .alert {display: none;}




















