.alert {text-align: center;}

#cont_produtos {width: 100%; padding: 0 1rem;}
#cont_produtos li {width: 200px; border: solid 1px #ccc; padding: 1rem; float: left; margin: 0 0.5rem 0.5rem 0;}
#cont_produtos li:last-child {margin-right: 0px;}
#cont_produtos li p {text-align: center;}