html, body {width: 100%; height: 100%;}

.mt_design {box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.mt_design_inverse {box-shadow: 2px 0 5px rgba(0,0,0,0.19), 0 2px 10px rgba(0,0,0,0.23);}
.mt_design:hover {box-shadow: 0 2px 5px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15); transition: all 0.3s ease;}

.btn_1 {background: transparent; color: #333; border-color: #333;}
.btn_2 {background: #333; color: #fff; border-color: #333;}

.pontinhos_ {display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; line-height: 130%;}












