.cont_load {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.5);}
.cont_load img {width: 100px;}

.alert {display: none; text-align: center;}

.cont_all_top {position: fixed; top: 0; left: 0; width: 100%; background: #f70920; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); z-index: 5;}
.cont_all_top .btn_back {color: #fff; padding: 0.5rem 1rem; background: transparent;}
.cont_all_top .btn_back i {margin-right: 0.5rem;}

.btn_1 {background: #f70920; color: #fff;}
.btn_2 {background: transparent; color: #f70920; border-color: #f70920;}
 
.cont_all {padding: 55px 0.5rem 0.5rem 0.5rem;}

#cont_passos {position: relative; width: 100%;height: 30px;}
.div_passos {position: absolute; top: 0; left: 0; width: 30px; height: 30px; border-radius: 50%; border: solid 1px #ccc; background: #fff;}
.div_passos i {display: block; text-align: center; line-height: 28px;}
.div_passos.div_color {border: solid 1px #f70920;}
.div_passos.div_color i {color: #f70920;}
#div_passo_2 {left: 50%; margin-left: -15px;}
#div_passo_3 {left: 100%; margin-left: -30px;}

#info_endereco, 
#info_pagamento {display: none;}

#cont_step_1 ul {list-style-type: none; padding: 0;}
#cont_step_1 li {border: solid 1px #ccc; padding: 15px; margin-bottom: 8px; text-align: center;}
#cont_step_1 li p:first-child {font-size: 2rem;}
