html {font-size: 15px;}
html, body {width: 100%; height: 100%;}

ul, ol, li {list-style: none; padding: 0; margin: 0;}

.mt_design {box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.mt_design_inverse {box-shadow: 2px 0 5px rgba(0,0,0,0.19), 0 2px 10px rgba(0,0,0,0.23);}
.mt_design:hover {box-shadow: 0 2px 5px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15); transition: all 0.3s ease;}

.btn_1 {background: transparent; color: #f70920; border-color: #f70920;}
.btn_2 {background: #f70920; color: #fff; border-color: #f70920;}

.btn_toggles .switch {position: relative;display: inline-block;width: 50px;height: 20px;}
.btn_toggles .switch input {display:none;}
.btn_toggles .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc; border-radius: 5px; -webkit-transition: .4s;transition: .4s;}
.btn_toggles .slider:before {position: absolute;content: "";height: 22px;width: 22px;left: 4px;bottom: -1px;border-radius: 5px; border: solid 1px #ccc; background-color: white;-webkit-transition: .4s;transition: .4s;}
.btn_toggles input:checked + .slider {background-color: #f70920;}
.btn_toggles input:focus + .slider {box-shadow: 0 0 1px #f70920;}
.btn_toggles input:checked + .slider:before {border: solid 1px #f70920;-webkit-transform: translateX(20px);-ms-transform: translateX(20px);transform: translateX(20px);}

.cont_all {width: 100%; height: 100%;}
.cont_all .cont_load {display: none; position: absolute; width: 100%; height: 100%; z-index: 12; background: rgba(0, 0, 0, 0.5);}
.cont_all .cont_load img {position: absolute; top: 50%; left: 50%; width: 100px; margin-left: -50px; margin-top: -50px;}

.big_menu_left {position: fixed; top: 0; left: 0; width: 200px; height: 100%; background: #f70920; z-index: 9;}
.big_menu_left_in {width: 100%; height: 100%; padding: 0.5rem;}
.big_menu_left_shadow {position: absolute; left: 0; margin-top: 46px; width: 100%; height: 100%; z-index: -1;}
.big_menu_left .cont_img {width: 100%; padding: 0rem 2rem 1rem 2rem; background: #f70920;}
.big_menu_left .cont_img img {width: 100%;}
.big_menu_left ul.ul_menu li a {display: block; margin-bottom: 0.5rem; text-transform: uppercase; color: #fff; background: rgba(255, 255, 255, 0.05); text-align: left; border-radius: 2rem; text-decoration: none;}
.big_menu_left ul.ul_menu li a:hover {background: rgba(255, 255, 255, 0.2); transition: all ease-out 0.3s;}
.big_menu_left ul.ul_menu li i {display: block; float: left; width: 20px; text-align: center; font-size: 1.2rem; margin-right: 10px;}
.big_menu_left ul.ul_menu li .btn_profissoes span.tot {display: block; float: right; background: rgba(255, 255, 255, 0.1); color: #fff; border-radius: 0; padding: 0.1rem 0.4rem; font-size: 0.8rem;}

.part_rigth {width: 100%; height: 100%; padding-left: 200px;}
.part_rigth_in {position: relative; width: 100%; height: 100%; padding-top: 46px; overflow: hidden;}

.part_top {position: absolute; width: 100%; top: 0; right: 0; padding: 0.5rem; background: #fff; z-index: 10;}
.part_top i.btn_toggle_menu {color: #f70920; font-size: 2rem; margin: 0 0.5rem; cursor: pointer;}
.part_top i.mensagem {position: relative; float: right; color: #f70920; font-size: 1.5rem; padding-top: 5px; margin: 0 15px; cursor: pointer;}
.part_top i.mensagem span {position: absolute; bottom: 0; left: -15px; background: red; border-radius: 0.5rem; color: #fff;}
.part_top .btn_sair {float: right; background: transparent; border-color: #f70920; margin: 0 15px; padding: 0;}
.part_top .btn_sair span {display: block; float: left; margin-left: 10px; line-height: 2rem; color: #f70920;}
.part_top .btn_sair i {margin-left: 5px; color: #f70920;}

.cont_view {width: 100%; height: 100%; overflow: auto; padding-bottom: 50px;}

.snapshot-generator, 
.snapshot-generator_2 {display: block; height: auto; left: 0; object-fit: contain; position: fixed; top: 0; width: 1px; z-index: -1; background: red;}













